ul {
  list-style: none;
}

/* .weatherForecast {
}

.components {
  height: 145px;
  width: 300px;
  background-color: white;
  margin-left: 150px;
  line-height: 9px;
  margin-top: 20px;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
} */

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px 10px;
}

li {
  background-color: #2ecc71;
  border: 1px solid #27ae60;
  padding: 10px;
  box-sizing: border-box;
}
